body{
    background-color: purple;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
button{
background-color: blueviolet;
color:crimson
padding: 20px;

}